@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* .Home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #071C49;
    background-image: url('../assets/banner3.svg');
    background-size: 100% auto;
    background-repeat: no-repeat;
} */

.Home {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../assets/banner3.svg');
    background-repeat: no-repeat;
}

Footer {
    margin-top: auto;
    position: relative;
}


/* .why {
    background: #051C47;
    position: relative;
    height: 100vh;
} */

/* .why_title {
    color: #3274D9;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-family: "Gmarket Sans TTF";
    font-size: 6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 8.4rem; 
    position: absolute;
    margin-left: 13.12rem;
} */

/* .why_exp {
    color: #FFF;
    font-family: "Gmarket Sans TTF";
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3rem; 
    white-space: pre-line;
    position: absolute;
    transform: translate(-10%, -10%);
    left: 18%;
    top: 25%;
} */

/* .why_div {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20rem;
}

.right_people {
    background: #051C47;
    position: relative;
    height: 100vh;
}

.right_people_title {
    position: absolute;
    color: #3274D9;
    font-family: "Gmarket Sans TTF";
    font-size: 6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 8.4rem; 
    margin-left: 13.12rem;
}

.right_people_exp {
    position: absolute;
    color: #FFF;
    font-family: "Gmarket Sans TTF";
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 4.8rem; 
    transform: translate(-10%, -10%);
    left: 30%;
    top: 25%;
}

.card_div {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 3rem;
}

.recruit_date {
    background: #051C47;
    position: relative;
    height: 100vh;
}

.recruit_date_title {
    color: #3274D9;
    font-family: "Gmarket Sans TTF";
    font-size: 6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 8.4rem; 
    position: absolute;
    margin-left: 13.12rem;
} */

/* 모집 일정 전체 스타일 */

