button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 1.3125rem;
    border: none;
    background: #3383FE;
    width: 39.375rem;
    height: 5.25rem;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.16563rem; /* 86.625% */
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

@media (max-width: 768px) {
    button {
        width: 30rem;
        height: 4.5rem;
        font-size: 2rem;
        gap: 1.5rem;
        border-radius: 1rem;
        top: 75%;
    }
}

@media (max-width: 480px) {
    button {
        width: 80%;
        height: 4rem;
        font-size: 1.8rem;
        gap: 1rem;
        border-radius: 0.8rem;
        top: 80%;
    }
}