body {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #071D49;
    padding: 10px 30px;
    position: relative;
}

a {
    text-decoration: none;
    color: white;
}

img {
    width: 50%;
    height: 50%;
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar_menu li {
    padding: 10px 30px;
}

.navbar_toggleBtn {
    display: none;
    position: absolute;
    right: 5px;
    top: 15px;
    width: 50px;
    height: 50px;
}

.navbar_toggleBtn img {
    width: 50%;
    height: auto;
    filter: brightness(0) invert(1); 
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 30px;
    }

    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_menu li {
        width: 100%;
        text-align: center;
    }

    .navbar_toggleBtn {
        display: block;
    }

    .navbar_menu.active {
        display: flex;
    }
}
