.introduction-container {
    width: 80%;
    margin: 0 auto;
    /* margin-bottom: 5%; */
}

.introduction-title {
    color: #3274D9;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3%;
}

.introduction-subtitle {
    display: flex;
    color: white;
    line-height : 2.3em;
    margin-bottom: 3%;
    white-space: nowrap;
}

.introduction-box-list-container{
    width: 90%;
    display: flex;
    margin: 0 auto;
    gap: 1em;
    /* margin-bottom: 10%; */
}

.introduction-box-list-mobile {
    display: none;
    visibility: hidden;
}

.introduction-subtitle-mobile {
    display: none;
    visibility: hidden;
}

@media (max-width: 768px){
    
    .introduction-container {
        /* margin-bottom: 10%; */
    }

    .introduction-box-list-container{
        width: 80%;
    }

    .introduction-box-list-mobile {
        display: block;
        visibility: visible;
    }
    
    .introduction-box-list-desktop {
        display: none;
        visibility: hidden;
    }
        
    .introduction-title {
        font-size: 1.4rem;
        margin-bottom: 5%;
    }
    .introduction-subtitle {
        font-size: 1rem;
        margin-bottom: 5%;
    }
} 

@media (max-width: 480px){
    .introduction-subtitle-mobile {
        display: block;
        visibility: visible;
    }

    .introduction-subtitle-desktop {
        display: none;
        visibility: hidden;
    }
        
    .introduction-title {
        font-size: 1.1rem;
    }
    .introduction-subtitle {
        font-size: 0.7rem;
    }
}