.introduction-box-container {
    display: flex;
    flex-direction: column;
}

.introduction-box-img {
    width: 45%;
    height: auto;
  }
   
.introduction-box-content {
    color: white;
    line-height: 2em;
    display: flex;
    text-align: center;
    justify-content: center;
    white-space: nowrap;
    transition: transform 0.3s ease; /* 부드럽게 확대되도록 트랜지션 적용 */
  }
  
  /* .introduction-box-content:hover {
    transform: scale(1.1);
  } */
  

.introduction-box-img-container {
    display: flex;
    justify-content: center;
}

.introduction-box-content {
    display: flex;
    text-align: center;
    justify-content: center;
    white-space: nowrap;
}

@media (max-width: 768px){
    .introduction-box-container {
        margin-bottom: 5%;
    }

    .introduction-box-content {
        font-size: 1rem;
   }
} 

@media (max-width: 480px){
   .introduction-box-content {
        font-size: 0.7rem;
   }
   .introduction-box-img {
        width: 50%;
    }
}