/* .part-title {
    color: #3274D9;
    font-family: "Gmarket Sans TTF";
    font-size: 6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 8.4rem;
    margin-left: 13.12rem;
    margin-bottom: 4rem;
} */

.part-title {
    color: #3274D9;
    font-size: 2rem;
    font-weight: bold;
    width: 90%;
    margin-bottom: 3%;
}

.part-container {
    /* background-color: #051C47; */
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
    /* margin-bottom: 10%; */
}

.part-box-container {
    width: 100%;
    /* margin: 0 auto; */
}

/* .part-box {
    display: flex;
    width: 95rem;
    height: 6rem;
    justify-content: space-around;
    align-items: center;
    border-bottom: 5px solid #3274D9;
} */

.part-box {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #005EB8;
    padding-bottom: 1%;
}

/* .part-subtitle{
    color: #3274D9;
    font-family: Inter;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
} */

.part-subtitle{
    font-size: 1.4rem;
    font-weight: 500;
    color: #005EB8;
    width: 48%;
    padding-left: 8.5%;
    cursor: pointer;
}

.part-subtitle:hover{
    color: #3274D9;
}

.part-subtitle.active-part {
    color:white;
}       

/*  */
.part-subtitle-btn{
    color: white;
}

.part-btn-box {
    display: flex;
    gap: 2em;
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* padding: 0 20%; */
}

/* 버튼 기본 스타일 */
.part-subtitle-btn {
    font-weight: 500;
    padding: 0.5rem 1.5rem;
    /* background-color: #ccc; */
    color: white;
    border-radius: 1.5em;
    cursor: pointer;
    margin-bottom: 3%;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease; /* 모든 애니메이션을 부드럽게 적용 */
}

/* hover 시 버튼의 애니메이션 효과 */
.part-subtitle-btn:hover {
    transform: scale(1.1); /* 버튼 크기를 10% 확대 */
    background-color: #3274D9; /* 배경색을 파란색으로 변경 */
    color: white; /* 텍스트 색상을 하얀색으로 변경 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
}

/* 클릭 시 색상이 변하는 효과 */
.part-subtitle-btn:active {
    transform: scale(0.98); /* 클릭 시 버튼이 약간 축소 */
    background-color: #005EB8; /* 클릭 시 배경색이 다소 어두운 파랑으로 변경 */
    color: white; /* 텍스트 색상 변경 */
}



.active-part {
    background-color: #3274D9;
    /* background-color: #3274D9; */
    /* border: 2px solid #005EB8; */
    color: white;
    /* color: #005EB8; */
}

@media (max-width: 768px){
    .part-btn-box {
        /* display: flex; */
        /* gap: 2em; */
        justify-content: center;
    }

    table {
        width: 100%;
    }

    .part-title {
        font-size: 1.4rem;
        margin-bottom: 5%;
    }
    
    .part-subtitle{
        font-size: 0.9rem;
    }

    .part-subtitle-btn {
        font-size: 0.9rem;
        padding: 0.4rem 3rem;
        margin-bottom: 5%;
    }
} 

@media (max-width: 480px){
    .part-title {
        font-size: 1.1rem; 
        margin-bottom: 7%;
    }
    .part-subtitle{
        font-size: 0.6rem;
    }
    .part-subtitle-btn {
        font-size: 0.7rem;
        padding: 0.4rem 1.5rem;
    }
}

