.schedule-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
  }
  
  .title-text {
    font-weight: bold;
    padding-left: 20px;
    text-align: left;
    color: #3274D9;
    font-size: 24px;
    margin-left: 20px;
  }
  
  .semester {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: clamp(0rem, 1.5vw, 1.5rem);;
}

.schedule-title {
    font-size: clamp(0.5rem, 4vw, 2.5rem);
    font-weight: bold;
    justify-content: center;
    margin-left: 22%;
    color: #3274D9;
}

.schedule-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: auto;
}

.yearlyplan-img {
    width: 70%;
    height: auto;
}

